<!DOCTYPE html>
{% load static %}
{% load women_tags %}
<html lang="ru">

{% block extrahead %}
<script src=""></script>
{% endblock extrahead %}

<head>
	<title>{{ title }}</title>
	<link type="text/css" href="{% static 'women/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'women/images/main.ico' %}" type="image/x-icon" />
	<script defer src="{% static 'women/js/main.js' %}"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<table class="table-page" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td valign=top>

				<!-- Header -->
				{% block mainmenu %}
					<div class="header">
						<ul id="mainmenu" class="mainmenu">
							<li class="logo">
								<a href="{% url 'home' %}">
									<div class="logo"></div>
								</a>
							</li>
							{% for m in menu %}
								<li>
									<a href="{% url m.url_name %}">
										{{ m.title }}
									</a>
								</li>
							{% endfor %}

							{% if request.user.is_authenticated %}
								<li class="last">
									{{ user.username }}
									|
									<a href="{% url 'logout' %}">
										Выйти
									</a></li>
							{% else %}
								<li class="last">
									<a href="{% url 'register' %}">
										Регистрация
									</a>
									|
									<a href="{% url 'login' %}">
										Войти
									</a>
								</li>
							{% endif %}
						</ul>
						<div class="clear">
						</div>
					</div>
				{% endblock mainmenu %}
				<!-- Конец Header -->

				<!-- Body -->
				<table class="table-content" border=0 cellpadding="0" cellspacing="0">
					<tr>

						<!-- Sidebar слева -->
						<td valign="top" class="left-chapters">
							<ul id="leftchapters">
								{% if cat_selected == 0 %}
									<li class="selected">
										Все категории
									</li>
								{% else %}
									<li class="non-selected">
										<a href="{% url 'home' %}">
											Все категории
										</a>
									</li>
								{% endif %}

								{% for c in cats %}
									{% if c.women__count > 0 %}
										{% if c.pk == cat_selected %}
											<li class="selected">
												{{ c.name }}
											</li>
										{% else %}
											<li>
												<a href="{{ c.get_absolute_url }}">
													{{ c.name }}
												</a>
											</li>
										{% endif %}
									{% endif %}
								{% endfor %}
								<li class="share">
									<p>
										Наш канал
									</p>
									<a class="share-yt"
										href="https://www.youtube.com/channel/UClJzWfGWuGJL2t-3dYKcHTA/playlists"
										target="_blank" rel="nofollow">
									</a>
								</li>
							</ul>
						</td>
						<!-- Конец Sidebar'а -->

						<td valign="top" class="content">

							<!-- Хлебные крошки -->
							{% block breadcrumbs %}
							{% endblock %}
							<!-- Конец хлебных крошек -->

							<!-- Блок контента -->
							<div class="content-text">
								{% block content %}
								{% endblock %}

								<!-- Пагинация-->
								{% if page_obj.has_other_pages %}
									<nav class="list-pages">
										<ul>
											{% if page_obj.has_previous %}
												<li class="page-num">
													<a href="?page=1">
														&lt;&lt;
													</a>
												</li>
												<li class="page-num">
													<a href="?page={{ page_obj.previous_page_number }}">
														&lt;
													</a>
												</li>
											{% endif %}

											{% for p in paginator.page_range %}
												{% if page_obj.number == p %}
													<li class="page-num page-num-selected">
														{{ p }}
													</li>
												{% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
													<li class="page-num">
														<a href="?page={{ p }}">{{ p }}</a>
													</li>
												{% endif %}
											{% endfor %}

											{% if page_obj.has_next %}
												<li class="page-num">
													<a href="?page={{ page_obj.next_page_number }}">
														&gt;
													</a>
												</li>
												<li class="page-num">
													<a href="?page={{ paginator.num_pages }}">
														&gt;&gt;
													</a>
												</li>
											{% endif %}
										</ul>
									</nav>
								{% endif %}
								<!-- Конец пагинации-->
							</div>
							<!-- Конец блока контента -->
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<!-- Конец Body -->

		<!-- Footer -->
		<tr>
			<td valign=top>
				<div id="footer">
					<p>&copy; 2021 Частичное или полное копирование информации с данного сайта для распространения на
						других ресурсах, в том числе и бумажных, строго запрещено.</p>
				</div>
			</td>
		</tr>
		<!--Конец Footer -->
	</table>
</body>

</html>